# -----------------------------
# Dataset (do NOT commit)
# -----------------------------
data/
smartvision_dataset/
data/smartvision_dataset/

# -----------------------------
# Model weights
# -----------------------------
models/*.pth
notebooks/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db
